# Configuration du premier serveur virtuel sur le port 8080 avec le domaine example.com
server {
    listen 8080 default_server;  # Port et hôte du premier serveur virtuel
    server_name example.com;     # Nom de domaine du premier serveur virtuel

    # Configuration des logs d'accès et d'erreur
    access_log /var/log/nginx/example.access.log;
    error_log /var/log/nginx/example.error.log;

    # Configuration des pages d'erreur personnalisées
    error_page 404 /404.html;
    error_page 500 502 503 504 /50x.html;

    # Répertoire racine où se trouvent les fichiers du site web
    root /var/www/example;

    # Configuration des index par défaut
    index index.html index.htm;

    # Configuration des limites de taille du corps du client
    client_max_body_size 10m;  # Limite la taille du corps de la requête à 10 Mo

    # Configuration des routes
    location / {
        # Configuration des méthodes HTTP acceptées
        limit_except GET POST {
            deny all;
        }
        try_files $uri $uri/ /index.html;
    }

    location /upload {
        # Configuration pour accepter les fichiers uploadés
        client_body_temp_path /var/www/upload_temp;
        client_body_in_file_only on;
        client_body_buffer_size 128k;
        client_max_body_size 10m;
        proxy_pass http://localhost:8000/upload;
    }

    location /cgi-bin {
        # Configuration pour exécuter des CGI
        root /var/www/cgi-bin;
        fastcgi_pass unix:/var/run/php/php7.4-fpm.sock;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    }
}

# Configuration du deuxième serveur virtuel sur le port 8081 sans nom de domaine spécifié
server {
    listen 8081;
    server_name "";

    # Autres configurations pour le deuxième serveur virtuel...
}
